div {
	background-color: rgb(240, 240, 240);
	margin-top: 0px;
	width: 100%;
	min-height: 150px;
}

ul {
	width: 50%;
	float: right;
	vertical-align: middle;
	font-family:Impact;
	margin-right: 30px;
}

ul li{
	display: inline;
	float: right;
	margin-left: 30px;
}

/* Tablet ----------- */
@media  (min-width: 768px) and (max-width : 1024px){
	ul {
		color: red;
		width: 100%;
		text-align: center;
	}
	ul li{
		float: none;
		margin-left: 30px;
		margin-right: 30px;
	}
}
